@import '../../scss/mixins';

$margin-padding: 4px;

.card {
    position: relative;
    height: 350px;
    width: 223px;
    border: solid 1px black;
    border-radius: 5px;
    background-color: #ddd;
    
    h3 {
        font-size: 18px;
        margin: $margin-padding 0;
        padding: 0 $margin-padding;
        text-align: center;
        width: 100%;
        @include overflow-ellipsis();
    }
    
    img {
        height: 311px;
        width: 223px;
    }
    
    figcaption {
        position: absolute;
        bottom: 0;
        font-size: 11px;
        width: 100%;
        background: black;
        color: white;
        text-align: center;
        padding: 0 $margin-padding;
        @include overflow-ellipsis();
    }
    
    // While waiting for content to load, show MTG logo as placeholder
    &.placeholder {
        img { opacity: 0.2 }
    }
}